/* Existing styles for navbar... */

.background-container {
    background-image: url("intro.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh; /* Adjust this value to fit your design */
  }
  
  /* Other styles... */
  
